* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  border: 0.5px solid red;
}

.main-container {
  width: 100%;
}


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}

.item-box {
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 0;
}

.item-box:first-of-type {
  margin-left: 0;
}

img {
  display: block;
  margin: 0 auto 10px;
  max-width: 100%;
}

h3.flickr-title {
  font-size: 12px;
  font-weight: 700;
}

.smallType {
  font-size: 8px;
}

.flickr-author {
  font-size: 10px;
}

.flickr-description, .flickr-tags {
  font-size: 11px;
  padding: 10px 0 0;
}

.flickr-description img {
  display: none;
}

@media (min-width: 960px) {
  .main-container {
    max-width: 960px;
  }
}
